<h2>{{#str}} my_quiz_archives, block_archiver{{/str}}</h2>
<div class="quiz_archiver_overview_description">{{#str}} my_quiz_archives_desc, block_archiver{{/str}}</div>
<form method="post" action="">
    {{#jobOverviewTable}}
    <div>
        {{{jobOverviewTable}}}
    </div>
    {{/jobOverviewTable}}
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <button type="submit" name="action" value="selectedquizzes" class="btn btn-primary quiz_archiver_overview_start_archiving">{{#str}} start_archiving , block_archiver {{/str}}</button>
</form>

<h3 id="#my-archive-jobs">{{#str}} my_quiz_archive_jobs, block_archiver{{/str}}
    <a href="{{{baseurl}}}#my-archive-jobs" class="small mx-2" title="{{#str}} refresh, moodle {{/str}}" onclick="location.reload()">
        <i class="fa fa-rotate-right"></i>
    </a>
</h3>
{{#jobCollectionOverviewTable}}
<div>
    {{{jobCollectionOverviewTable}}}
</div>
{{/jobCollectionOverviewTable}}
